[Unit]
Description=Luxafor auto management
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/opt/lux-auto
ExecStart=/usr/local/bin/lux-auto start
ExecStopPost=/usr/local/bin/lux-auto stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
