[Unit]
Description=Luxafor auto management

[Service]
WorkingDirectory=/opt/lux-auto
Type=simple
ExecStart=/usr/local/bin/lux-auto

[Install]
WantedBy=multi-user.target
